*{
    padding: 0px;
    margin: 0px;
}
.home{
    height: 700px;
    background-image: url(images/shutterstock_277750193.jpg);
    background-position: center;
    background-size: 100% 100%;

}

.home .nav ul {
    background-color: rgba(0,0,0,0.5);
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
}
.home .nav a{
    text-decoration: solid;
    color: white !important;
}
.home .nav img{
    height:30px;
}

.home .nav ul li{
float: right;
list-style: none;
text-align: center;
padding: 10px;

}
.home .nav .logo{
    float:left ;
   
}

.home .caption{
    text-align: center;
    margin: auto;
    padding-top:150px ;
    color: white;
}
.home p{
    font-family: 'Dancing Script', cursive;
    font-size: 240%;
}
.home .caption button{
    border: none;
    padding: 20px 25px ;
}
.home .caption .Hbtn{
    background-color: #c1ab84;
}

.discover{
    background-color: yellow;
}
.discover .chef{
    width: 50%;
    float: left;
   
}
.discover .chef img{
    width: 80%;
    height: 90%;
}
.discover .discoverchef{
    width: 50%;
    float: left;
    text-align: center;
    padding: 25% 0;
    
}
.discover .discoverchef span{
    color: #f2ce08;
    font-size: 25px;
}
.discoverchef p{
    color: #868686;
}
.discover .discoverchef .btn{
    border: 2px solid black;
    background-color: transparent;
    padding: 20px 10px;
    font-weight: 600;
}
.out-door{
    height: 400px;
    background-image: url(images/bgs.jpg);
    background-attachment: fixed;
}

.allMeals{

    
    height: 400px;
    padding-top: 20px ;
}
.oneMeal
{
    
    width: 25%;
    text-align: center;
    float: left;
}
.oneMeal img{
    border-radius: 50%;
    height: 80%;
}
.allMeals .oneMeal h3,p{
  
    padding: 10px;
}
.allMeals .oneMeal p{
    color: #868686;
}
.allMeals .dash{
    width: 25%;
    height: 1px ;
    background-color: #868686 ;
    margin: auto;
}
.clr{
    clear: both;
}